---
import Event from "../components/Event.astro";

const data = await fetch("https://fcbvmlrpntifmglyhaps.supabase.co/rest/v1/test_products", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjYnZtbHJwbnRpZm1nbHloYXBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTAzNTk3MjgsImV4cCI6MjAyNTkzNTcyOH0.xrxVZKs3mAZMWAP5IsKkDABTXackwex73ZIHtyLHB44",
  },
}).then((res) => res.json());
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>events</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <main>
    <h1>EVENTS</h1>
    <h2><span>TIDLIGERE</span>, <span>PERMANENTE</span></h2>
    <section class="udstillinger">
      {
        data.map((event) => {
          return <Event data={event} />;
        })
      }
    </section>
  </main>


</html>
