---

---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<div class="menu_grid">
				<div><img src="../public/logo2.png" alt="logo"></div>
				<div class="sprog">
					<p class="dansk">DA</p>
					<p>EN</p></div>
				<div class="global_menu">
					<p>For besøgende</p>
					<p>For kunstnere</p>
					<p>For sponsorer</p>
					<p>OM</p>
				</div>
				<div class="lokal_menu">
					<p>UDSTILLINGER</p>
					<p>FESTIVAL MAP</p>
				</div>
			</div>

		</header>
		<main>
			<h1>Astro</h1>
		</main>
	</body>

	<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
header {
	background-color: black;
}

p {
	font-family: "Roboto", sans-serif;
	color: white;
}


/* MOBIL */
@media (max-width: 800px) {
}

/* DESKTOP */
@media (min-width: 800px) {

.dansk {
	font-weight: bold;
	margin-right: 10px;
}
.sprog {
  display: flex;
}

.global_menu {
	display: flex;
	gap: 30px;
	margin-left: 15px;
}
img {
	width: 25%;
}

	.global_menu {
	font-size: 15px;
}

.lokal_menu {
	display: flex;
    justify-content: flex-end;
    grid-column: 3 / span 1;
    gap: 30px;
    margin-right: 60px;
	font-weight: bold;
}

.menu_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
}
	</style>

</html>
