---

---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>

	<footer>
		<div class="footer_grid">
			<div class="nyhedsbrev">
				<h5>Gå ikke glip af de seneste nyheder og fordele hos Copenhagen Light Festival</h5>
				<form>
					<input placeholder="Indsæt din mail her...">
					<buttom>→</buttom>
				</form>
			</div>
	
			<div class="info">
				<p>INFORMATION OG RESSOURCER</p>
				<p>Personoplysninger</p>
				<p>Presse og medier</p>
				<p>FAQ</p>
				<br>
				<p>KONTAKT</p>
				<p>info@copenhagenlightfestival.org</p>
			</div>
	
			<div class="some">
				<p>FØLG OS</p>

				<img src="" alt="Instagram logo">
				<img src="../components/fblogo.webp" alt="Facebook logo">
			</div>
				
		</div>
	</footer>
	
	<style>
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
	
		.footer_grid {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			justify-content: space-between;
			margin-top: 5rem;
		}
	
		.nyhedsbrev {
			margin-left: 4rem;
			color: white;
		}
	
		.info {
			margin-left: 6rem;
			padding: 2rem;
		}
	
		.some {
			padding: 2rem;
			margin-left: 8rem;
		}
	
		/* Tekst styling */
		h5, p {
			font-family: "Roboto", sans-serif;
			font-weight: 400;
			font-style: normal;
			color: white;
		} 

		h5 {
			margin-right: 8rem;
			font-size: x-large;
		}

		footer {
			background-color: black;
		}

		/* input {
			background-color: black;
			border: 1px white;
		} */

	
	</style>
	</footer>
</html>
