---
import Udstilling from "../components/Udstilling.astro";
import Footer from "../components/Footer.astro";
import Header2 from "../components/Header1.astro";

const data = await fetch("https://fcbvmlrpntifmglyhaps.supabase.co/rest/v1/test_products?tags=cs.%5B%22udstilling%22%5D", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjYnZtbHJwbnRpZm1nbHloYXBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTAzNTk3MjgsImV4cCI6MjAyNTkzNTcyOH0.xrxVZKs3mAZMWAP5IsKkDABTXackwex73ZIHtyLHB44",
  },
}).then((res) => res.json());
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <Header1/>
  <main>
    <h1>UDSTILLINGER</h1>
    <h2><span>TIDLIGERE</span>, <span>PERMANENTE</span></h2>
    <section class="udstillinger">
      {
        data.map((udstilling) => {
          return <Udstilling data={udstilling} />;
        })
      }
    </section>
  </main>
</body>

  <Footer />


</html>
