---

---

<div class="grid_1-1">
  <div>
    <img src="/du_som_er_i_Himlene.jpg" alt="" class="card_h_billede" />
  </div>
  <div class="tekst">
    <div>
      <h3>'Du som er i himlene'</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente debitis tempore beatae ipsa libero illo modi, autem, perspiciatis aliquam assumenda temporibus explicabo ea iure deserunt distinctio, reprehenderit officia dolor enim!</p>

      <p>LÆS MERE -----------></p>
    </div>
  </div>
</div>

<style>
  .tekst {
    padding-left: 15%;
  }
  h3 {
    font-size: 2rem;
    margin: 0%;
  }

  p {
    max-width: 90%;
  }

  .grid_1-1 {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8%;
  }

  .card_h_billede {
    width: 100%;
    height: auto;
  }

  p + p {
    margin-top: 10%;
  }
</style>
