
<footer>
    <div class="footer_grid">
        <div class="nyhedsbrev">
            <h5>Gå ikke glip af de seneste nyheder og fordele hos Copenhagen Light Festival</h5>
            <form></form>
        </div>

        <div class="info">
            <p>INFORMATION OG RESSOURCER</p>
            <p>Personoplysninger</p>
            <p>Presse og medier</p>
            <p>FAQ</p>
            <br>
            <br>
            <p>KONTAKT</p>
            <p>info@copenhagenlightfestival.org</p>
        </div>

        <div class="some">
            <p>FØLG OS</p>
            <img src="">
            <img src="">
        </div>
            
    </div>
</footer>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap')

    .footer_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        margin-top: ;
        margin-bottom: ;
    }

    .nyhedsbrev {
        display: flex;
    }

    .info {
        display: flex;
    }

    .some {
        display: flex;
    }

    /* Tekst styling */
    h5, p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    } 

</style>