<footer>
    <div class="footer_grid">
        <div class="nyhedsbrev_grid">
            <h5>Gå ikke glip af de seneste nyheder og fordele hos Copenhagen Light Festival</h5>
            <form></form>
        </div>

        <div class="info_grid">
            <p>INFORMATION OG RESSOURCER</p>
            <p>Personoplysninger</p>
            <p>Presse og medier</p>
            <p>FAQ</p>
            <br>
            <br>
            <p>KONTAKT</p>
            <p>info@copenhagenlightfestival.org</p>
        </div>

        <div class="some_grid">
            <p>FØLG OS</p>
            <img src="">
            <img src="">
        </div>
            
    </div>
</footer>