---
const { data } = Astro.props;
---

<body>
  <div class="overmenu">
    <h4 class="udstillinger">UDSTILLINGER</h4>
    <div class="pil"></div>
    <h4 class="tidligere">TIDLIGERE</h4>
  </div>
  <h1>‘The right to choose’</h1>

  <section class="grid1_1">
    <div>
      <img class="billede1" src="billeder/billede1.png" alt="billede1" />
    </div>
    <div class="titler">
      <h3 class="kunstner">Kunstner: Petra Polli (IT/DE)</h3>
      <h3 class="lokation">Lokation: Kulturhuset Indre By, Charlotte Ammundsens Plads 3</h3>
      <h3 class="beskrivelse">
        Kunstværket består af flere bomuldsbaner, ophænget til tørring som stoffer på stoffarve fabrikker. På stofpanelerne afspilles en video, der viser en flod i en ny trendfarve. Tekstilindustrien forbruger store mængder vand og forurener miljøet. Vandforurening er en stor udfordring, især inden for tekstilraffinement. Giftigt garvningsslam og farverester fra tekstilindustrien sendes mange steder u filtreret ud i floderne, så den kommende sæsons nye trendfarve allerede kan ses i flodernes farve. Konsekvensen: millioner af mennesker har ikke rent drikkevand og er plaget af sygdom. I årevis har slagord som “billig er cool” og “fast fashion” bestemt vores shopping adfærd. Moden ændrer sig på kort tid og frister os med lave priser. Hvilket bidrag er vi hver især parate til at yde?
      </h3>
    </div>
  </section>

  <div class="link_til">
    <h3 class="link">Link: www.petrapolli.com Instagram: @petrapolli</h3>
    <h3 class="tak_til">Tak til: Brixen Water Light Festival Culturehouse City</h3>
  </div>
</body>

<style>

</style>
